.new{
    display: flex;

    .navContainer{
        width: 100%;
    }

    .upperContainer{
        display: flex;
        margin: 20px;
        gap: 20px;
        height: 45vh;
        .left{
            flex: 4;
            background-color: rgba(232, 232, 232, 0.397);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px;
            border-radius: 8px;
            padding: 20px;
            position: relative;

            .edit{
                position: absolute;
                right: 1px;
                top: 1px;
                padding: 3px;
                background-color: gray;
                color: white;
                font-size: 13px;
                border-radius: 0 8px 0 8px;
                cursor: pointer;
            }
            
            h3{
                color: gray;
                font-weight: 500;
            }

            h1{
                color: rgb(57, 57, 57);
                font-weight: 400;
                margin-bottom: 10px;
            }
            .container{
                margin-top: 20px;
                display: flex;
                justify-content: space-around;

                .one{

                    img{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .details{

                    .itemDetails{
                        display: flex;

                        .name{
                            font-size: 15px;
                            font-weight: 700;
                            margin-bottom: 20px;
                            margin-right: 5px;
                        }

                        .nameDetails{
                            font-size: 13px;
                            margin-top: 3px;
                            margin-left: 3px;
                        }
                       
                    }
                }
            }

          


        }

        .right{
            flex: 6;
            border-radius: 8px;
            padding: 20px;
            background-color: rgba(232, 232, 232, 0.397);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          
            h3{
                font-weight: 500;
                color: gray;
            }
        }
    }
}